.header img{
    height: 3rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 12.5rem;
    background-color: var(--gray-700);
}

.logoWrapper{
    margin-left: 0.75rem;
    display: flex;
    line-height: 1.4;
    font-size: 1.5rem;
}

.logoOne{
    color: var(--blue);
    font-weight: 900;
}

.logoTwo{
    color: var(--purple-dark);
    font-weight: 900;
}

